<div class="container">
  <header>
    <h1>
      Job I Applied For:
    </h1>
  </header>
  <section class="content">
    <span class="title">
      Company: <br>
    </span>
      <%= @job.company %> <br>
    <span class="title">
      Phone: <br>
    </span>
      <%= @job.phone %> <br>
    <span class="title">
      Contact: <br>
    </span>
       <%= @job.contact %> <br>
    <span class="title">
      Location:  <br>
    </span>
      <%= @job.location %> <br>
    <span class="title">
      Job Title: <br>
    </span>
      <%= @job.job_title %> <br>
    <span class="title">
      Notes: <br>
    </span>
      <%= @job.notes %>
    <br><br>
    <%= link_to 'Edit Job', edit_job_path(@job) %>
    <%= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure?" } %>
    <%= link_to 'Back to Job List', root_path %>
  </section>
</div>
