<h1>Job I Applied For:</h1>
Company: <%= @jobs.company %> <br>
Phone: <%= @jobs.phone %> <br>
Contact: <%= @jobs.contact %> <br>
Location: <%= @jobs.location %> <br>
Notes: <%= @jobs.notes %>
<br>
<%= link_to "Delete",  job_path(@job) , method:  :delete, data: { confirm: "Are you sure?" }%>
<%= link_to 'Edit Job', edit_job_path(@job) %>
<%= link_to 'Home', root_path %>
